<div class="header-fixed" data-spy="affix" data-offset-top="20">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="logo">
          {% include 'includes/logo-light' %}
        </div>
        <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="col-sm-6 hidden-xs">
        {% if home? %}
          {% include 'includes/nav-home' %}
        {% else %}
          {% include 'includes/nav' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
